@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
    <p>Welcome to the Admin Dashboard of WanderVibe!</p>
</div>