@model WanderVibe.Models.Flight

@{
    ViewBag.Title = "Create Flight";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Create New Flight</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item">Flight</li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create</h5>

        <form asp-action="create" method="post" class="row g-3 needs-validation" novalidate>
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <input asp-for="FlightNumber" class="form-control" id="floatingFlightNumber" placeholder="Flight Number" spellcheck="true" required>
                    <label for="floatingFlightNumber">Flight Number</label>
                    <div class="invalid-feedback">Please provide a flight number.</div>
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="DepartureCity" class="form-control" id="floatingDepartureCity" placeholder="Departure City" spellcheck="true" required>
                    <label for="floatingDepartureCity">Departure City</label>
                    <div class="invalid-feedback">Please provide a departure city.</div>
                    <span asp-validation-for="DepartureCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="ArrivalCity" class="form-control" id="floatingArrivalCity" placeholder="Arrival City" spellcheck="true" required>
                    <label for="floatingArrivalCity">Arrival City</label>
                    <div class="invalid-feedback">Please provide an arrival city.</div>
                    <span asp-validation-for="ArrivalCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="DepartureDate" class="form-control" id="floatingDepartureDate" type="datetime-local" placeholder="Departure Date" spellcheck="true" required>
                    <label for="floatingDepartureDate">Departure Date</label>
                    <div class="invalid-feedback">Please provide a departure date.</div>
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="ArrivalDate" class="form-control" id="floatingArrivalDate" type="datetime-local" placeholder="Arrival Date" spellcheck="true" required>
                    <label for="floatingArrivalDate">Arrival Date</label>
                    <div class="invalid-feedback">Please provide an arrival date.</div>
                    <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Price" class="form-control" id="floatingPrice" type="number" step="0.01" placeholder="Price" spellcheck="true" required>
                    <label for="floatingPrice">Price</label>
                    <div class="invalid-feedback">Please provide a price.</div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Availability" class="form-control" id="floatingAvailability" type="number" placeholder="Availability" spellcheck="true" required>
                    <label for="floatingAvailability">Availability</label>
                    <div class="invalid-feedback">Please provide the availability.</div>
                    <span asp-validation-for="Availability" class="text-danger"></span>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End floating Labels Form -->

    </div>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
