/* Reset some basic styles for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343a40;
}

/* Home page style START */
.header-section {
  /* position: relative; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/header.jpg") no-repeat center center/cover;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.header-section h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.header-section p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.custom-btn {
  padding: 13px 36px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.custom-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
}

.custom-btn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Home - Image Carousel */
.image-carousel {
  background-color: #343a40;
}

/* Home page style END */

/* Packages page style START*/

/* Packages - Form styling */
#filterForm .custom-btn {
  padding: 0px 19px;
  border-radius: 7px;
  cursor: pointer;
  border: 0;
  background-color: hsl(261deg 80% 48%);
  color: #ffffff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#filterForm .custom-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
}

#filterForm .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

#filterForm .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
  letter-spacing: 3px;
}

/* Packages - Card styling */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  color: inherit;
}

.package-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.package-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.package-card .card-header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.package-card .card-header span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.package-card .card-header i {
  color: #0d6efd;
}

.package-card .card-body {
  padding: 20px;
  text-align: left;
}

.package-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.package-card .card-text {
  font-size: 1rem;
  color: #6c757d;
}

.package-card .card-footer {
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.custom-small-btn {
  padding: 6px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: hsl(261deg 80% 48%);
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.custom-small-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
}

.custom-small-clear-btn {
  padding: 6px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.custom-small-clear-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
}

.package-card .card-footer strong {
  color: #343a40;
}
/* Packages page style END*/

/* Package Detail page style START */
.package-detail-header {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.package-detail-header .header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.package-detail-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.package-detail-header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.package-detail-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.package-detail-header p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.package-detail-header .header-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.package-detail-header .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-detail-header .icon i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.package-detail-header .icon span {
  font-size: 1rem;
}

.package-detail-header .icon strong {
  font-size: 1.25rem;
}

.container-details {
  background: url("../assets/img/backgound.jpg") no-repeat center center;
  background-size: cover;
  padding: 50px 150px;
  border-radius: 10px;
}

.booking-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.booking-card .card-body {
  padding: 2rem;
}

.booking-card h3 {
  color: #28a745;
  margin-bottom: 1.5rem;
}
/* Package Detail page style END */

/* About Us START */
.about-section {
  background-color: none;
  padding: 80px 0;
  text-align: center;
  color: #34495e;
}

.about-section h2 {
  font-weight: 700;
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-in-out;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.8;
  /* color: #7f8c8d; */
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.about-section .highlight {
  color: #e74c3c;
  font-weight: 600;
}

.about-section .card {
  background-color: white;
  padding: 30px;
  height: 250px;
  margin: 0 !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-section .card h4 {
  font-weight: 600;
  color: #34495e;
  margin-bottom: 15px;
  animation: fadeInUp 1s ease-in-out;
}

.about-section .card p {
  font-size: 1.2rem;
  color: #7f8c8d;
  line-height: 1.6;
}

.about-section ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  animation: fadeInUp 1s ease-in-out;
}

.about-section ul li {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.about-section ul li:before {
  content: "\2022";
  color: #e74c3c;
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
}

.about-section img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.about-section .btn-primary {
  background-color: #e74c3c;
  border-color: #e74c3c;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.about-section .btn-primary:hover {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #fff;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About Us END */

/*Contact Us START*/
.contact-section {
  padding: 85px 0;
}

.contact-section h2 {
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.contact-section .form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #ddd;
}

.contact-section .btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 0.3rem;
  color: #333;
}

.contact-section .btn-primary:hover {
  background-color: #e0a800;
  border-color: #e0a800;
  color: #333;
}

.contact-section iframe {
  border: 0;
  width: 100%;
  height: 400px;
}
/*Contact Us END*/

.modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.modal-header {
  padding: 1rem 1.5rem;
  background-color: #007bff;
  border-bottom: 1px solid #e9ecef;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-close-white {
  filter: invert(1);
}

.modal-body {
  padding: 1.5rem;
  background-color: #f8f9fa;
}

.modal-body h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.modal-body p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #343a40;
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  background-color: #f8f9fa;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.modal-header .btn-close {
  filter: brightness(0) invert(1);
}

/* Media Queries */
@media (max-width: 767px) {
  .package-header-section {
    height: 50vh;
  }

  .package-header-section h1 {
    font-size: 2.5rem;
  }

  .package-header-section p {
    font-size: 1rem;
  }

  .package-card img {
    height: 150px;
  }

  .package-card .card-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .package-header-section h1 {
    font-size: 3rem;
  }

  .package-header-section p {
    font-size: 1.1rem;
  }

  .package-card img {
    height: 180px;
  }

  .package-card .card-title {
    font-size: 1.35rem;
  }
}

/* ExtraServices Page CSS */

.extra-services-container {
  padding: 4rem;
}

.extra-services-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.extra-services-header {
  margin-bottom: 30px;
}

.text-start h2 {
  font-size: 1.75rem;
  color: #343a40;
  margin-bottom: 20px;
}

.service-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.service-card-body {
  padding: 15px;
  text-align: left;
}

.service-card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: hsl(261deg 80% 48%);
}

.service-card-price {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
}

.service-checkbox {
  width: 20px;
  height: 20px;
  accent-color: hsl(261deg 80% 48%);
  position: absolute;
  top: 3%;
  right: 3%;
}

.confirm-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Booking/packageDetails style */
/* Booking/ServicesDetails */
.checkout-page,
.checkout-services {
  background-color: #f8f9fa;
  padding: 45px;
  border-radius: 8px;
}

.checkout-page .card,
.checkout-services .card {
  border: none;
  border-radius: 8px;
}

.checkout-page .card-title,
.checkout-services .card-title {
  margin-bottom: 1rem;
}

.custom-confirm-btn {
  padding: 10px 36px;
  border-radius: 7px;
  cursor: pointer;
  border: 0;
  background-color: hsl(261deg 80% 48%);
  color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.custom-confirm-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
}

.checkout-page h1.display-4,
.checkout-services h1.display-4 {
  font-size: 2.5rem;
  color: #343a40;
}

.checkout-page h2,
.checkout-services h2 {
  font-size: 1.75rem;
}

.checkout-page .form-label,
.checkout-services .form-label {
  font-weight: 500;
}

.checkout-page input[readonly],
.checkout-services input[readonly] {
  background-color: #ffffff;
  cursor: not-allowed;
}

/*Booking History*/

.booking-history{
    margin-top: 7rem;
    margin-bottom:16rem;
}

.badge-style {
    padding: 6px 15px;
    border-radius: 10px;
    border: 0;
    letter-spacing: 1px;
    font-size: 15px;
}




